%dmsand-400 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 400;
}

%dmsand-700 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 700;
}

%rubik-400 {
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
}

%rubik-500 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}