@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';
.header {
    padding: 50px 0;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        display: flex;
        align-items: center;
    }
    &__logo-img {
        margin-right: 15px;
    }
}

.menu {
    &__list {
        display: flex;
    }
    &__list-item+.menu__list-item {
        margin-left: 33px;
    }
    &__list-link {
        color: #436372;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
    }
}

.user-nav {
    display: flex;
    align-items: center;
    &__search {
        background-color: #edf1f4;
        border-radius: 50%;
        margin-right: 20px;
    }
    &__search-img {
        padding: 18px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        background-color: #fcd7b6;
        border-radius: 50px 50px 50px 50px;
        margin-right: 20px;
        padding: 6px 0;
    }
    &__link {
        position: relative;
    }
    &__heart {
        padding: 12px 30px;
        border-right: 1px solid #fde7d3;
    }
    &__cart {
        padding: 12px 28px;
    }
    &__num {
        position: absolute;
        width: 16px;
        height: 16px;
        background-color: #fff;
        border-radius: 50%;
        text-align: center;
        top: 3px;
        right: 19px;
        @extend %dmsans-400;
        color: #243f4d;
        font-size: 10px;
        line-height: 17px;
    }
    &__dots {
        padding: 15px;
        border-radius: 50%;
        background-color: #a3bbc8;
    }
}

@import 'media';